
  <row class="addlInfo">
    <columns small="12" large="12">
      <p>Free shipping on all orders over $49. 1-2 day shipping on most orders. Visit Chewy.com for details.</p>
      <p>&#0169; 2017. All Rights Reserved.</p>
      <p>This email was sent by <a href="https://chewy.com">Chewy.com</a></p>
      <p>1855 Griffin Road Suite #B-328, Dania Beach, FL 33004, United States</p>
    </columns>
  </row>

  <row class="footer"><!--footer-->
    <columns small="12" large="12">       
        <img src="https://www.dropbox.com/s/6klvvx0p2beolse/chewy-site-logo.png?raw=1"> 
    </columns>
  </row>

  <row class="Unsubscribe">
    <columns small="12" large="12">
      <center>
      <p class="left"><a href="#">Click here to unsubscribe</a></p>
      <p class="right"><a href="#">View in Browser</a></p>       
      </center>

    </columns>
  </row>