 <row class="afterSales"> <!-- afterSales -->

      <columns small=12 large="4">
        <img src="https://png.icons8.com/ios/50/000000/technical-support.png">
       
        <table>
          <tr>
            <td>
              <p>CUSTOMER<br>SERVICE</p>
            </td>
          </tr>
        </table>
      </columns>
  
      <columns small=12 large="4">
        <img src="https://png.icons8.com/ios/50/000000/free-shipping.png">
        <table>
          <tr>
            <td>
              <p>FREE SHIPPING<br> ORDERS $49+</p>
            </td>
          </tr>
        </table>
      </columns>
    
      <columns small=12 large="4">
        <img src="https://png.icons8.com/wired/50/000000/good-quality.png">
        <table>
          <tr>
            <td>
              <p>SATISFACTION<br> GUARANTEED</p>
            </td>
          </tr>
        </table>
      </columns>
  
      <columns small=12 large="4">
        <img src="https://png.icons8.com/android/40/000000/return-purchase.png">
        <table>
          <tr>
            <td>
              <p>HASSTLE-FREE<br> RETURNS</p>
            </td>
          </tr>
        </table>
      </columns>

  </row>