 <row class="shopNow"><!-- Shop now 1st row -->
    <columns small="12" large="6">
        <img src="https://goo.gl/wpBPe9">
        <table>
          <tr>
            <td>
              <center>
                <button class="large" href="http://bit.ly/2gKJnI4" target="_blank">Shop Now ></button>
              </center>
            </td>
          </tr>
        </table>
      
    </columns>
    <columns small="12" large="6">
        <img src="https://goo.gl/uAJNaC">
         <table>
          <tr>
            <td>
              <center>
                <button class="large" href="http://bit.ly/2j4nK8d" target="_blank">Shop Now ></button>
              </center>
            </td>
          </tr>
        </table>       
    </columns>
  </row>

    <row class="shopNow"><!-- Shop now 2nd row -->
    <columns small="12" large="6">
        <img src="https://goo.gl/YB97RQ">
        <table>
          <tr>
            <td>
              <center>
                <button class="large" href="http://bit.ly/2orLO4Z" target="_blank">Shop Now ></button>
              </center>
            </td>
          </tr>
        </table>
    </columns>
    <columns small="12" large="6">
     
        <img src="https://goo.gl/4JjpHH">
        <table>
          <tr>
            <td>
              <center>
                <button class="large" href="http://bit.ly/2sJOG2w" target="_blank">Shop Now ></button>
              </center>
            </td>
          </tr>
        </table>
    </columns>
  </row>
